/* Raleway Font Family */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #333;
  --dark-black: #000;
  --orange: #FF6600;
  --light-orange: #ff7a22;
  --red: #DC3545;
  --red-dark: #c82333;
  --white: #fff;
  --header-primary: 2rem;
  --little-desc: 1.5rem;
  --primary-font: 'Raleway',
    sans-serif;
  --light-green: #25d366;
  --light-blue: #4267B2;
  --light-sky: #55acee;
  --light-gray: #7d7d7d;
  --yellow: #ffbd00;
  --tia-light-green: #95D03A;
  --white-smoke: #f5f5f5;
}

body {
  font-family: var(--primary-font);
}

img {
  width: 100%;
  height: 100%;
}

::selection {
  background: var(--orange);
  color: var(--white);
}

/* humberger menu end here */

/* carousel */

.carousel_inner {
  width: 100%;
  overflow: hidden;
}

.carousel_img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel_inner::after {
  content: "";
  display: block;
  clear: both;
}

.carousel_item {
  position: relative;
  float: left;
  display: none;
  width: 100%;
  margin-right: -100%;
}

.carousel_item__active,
.carousel_item__pos_next {
  display: block;
}

.carousel_item__pos_next {
  left: 100%;
}

.carousel_item__next {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;

}

/* fade effect */
.carousel_fade .carousel_item__pos_next {
  left: 0;
  opacity: 0;
}

.carousel_fade .carousel_item__next {
  transform: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.carousel_fade .carousel_item__active.carousel_item__next {
  opacity: 0;
}

.carousel_caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel_caption {
  color: var(--white);
  text-align: center;
}

/* carousel btn */
.carousel_btn_container {
  margin-top: 1.25rem;
}

.carousel_btn_1,
.carousel_btn_2 {
  padding: 10px 40px;
  letter-spacing: 0.125rem;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 5px;
  border: 0;
  border-radius: 0.313rem;
}

.carousel_btn_1:hover,
.carousel_btn_2:hover {
  background: var(--orange);
  color: var(--white);
  transition: 0.2s;
}

/* / carousel */

/* responsive for pads and tablets */

@media only screen and (max-width: 769px) {

  /* carousel */
  .carousel_btn_1,
  .carousel_btn_2 {
    margin: 0.313rem 0;
  }
}
